.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.2rem solid $light-gray;
  margin-bottom: $s-size;
  padding: $s-size 0;
  height: $xxl-size;
}

.headerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: $xl-size;
}

.headerLeft {
  display: flex;
  margin-left: $xl-size;
  position: absolute;
  width: 210px;
  height: 45px;
}

.headerLink {
  font-size: $l-size;
  padding: $xl-size;
  text-decoration: none;
  color: $dark-gray;
}
.headerLogo {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .headerRight {
    margin-top: $btnHeight-size
  }
  .header{
    flex-direction: column;
    padding: 0px
  }
  .headerLeft{
    padding-bottom: 30px;
    width: 110px;
    height: 31px;
  }
}