// Colors
$pure-white: #ffffff;
$light-gray:#EDEDED;
$dark-gray: #4A4A4A;
$orange: #EA7F28;
$dark-orange: #D37324;
// Spacing
$xxs-size: 4px;
$xs-size: 8px;
$s-size: 12px;
$m-size: 14px;
$l-size: 18px;
$xl-size: 24px;
$xxl-size: 80px;
$content-size: 800px;
$btnHeight-size: 32px;
$btnWidth-size: 128px;


